{# Copyright (c) ONNX Project Contributors #}
{# SPDX-License-Identifier: Apache-2.0 #}
#pragma once

#include "onnx/defs/schema.h"
{% for spec in specs %}
void {{ spec.func_name }}(ONNX_NAMESPACE::OpSchema& schema);
{% endfor %}
